.banner {
  position: relative;
  margin-top: var(--header-height);
  width: 100%;
  aspect-ratio: 16/5;
  min-height: 200px;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/banner/mumbai_1.jpeg') center/cover no-repeat;
  opacity: 0.3;
  z-index: 0;
}

.banner-title {
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  font-weight: bold;
}

.banner-info {
  position: relative;
  z-index: 1;
  font-size: clamp(1rem, 3vw, 1.6rem);
  font-weight: 500;
  margin-top: 2rem;
}
